/* contact_style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/img/contactpage_img3.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #bd2a2a;
    color:aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.back-btn:hover {
    background-color: #9b111e;
}

.contact-us h2, .contact-us h3 {
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form .btn {
    background-color: #ffcc00; /* Button background color */
    color: #333; /* Button text color */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .btn:hover {
    background-color: #ff9933; /* Button hover color */
}
