
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2070a;
    color: #333;
    line-height: 1.6;
}
h1{
    text-align: center;
    color: #333;
}

h2, h3 {
    text-align: left;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #c2070a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b40306;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

strong {
    color: #c2070a;
}
