body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #c2070a, #a71f1d, #c2070a);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.register-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.register-form h2 {
    margin-bottom: 1rem;
    color: #c2070a;
    text-align:center;
}

.register-form input,
.register-form select,
.register-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #c2070a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: darkred;
}

.register-form p {
    margin-top: 1rem;
}

.register-form a {
    color: #c2070a;
    text-decoration: none;
}

.register-form a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
