{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about_style.css' %}">
</head>
<body>
    <button class="back-btn" onclick="history.back()">Back</button>
    <section class="about-us">
        <p>Welcome to the Western Mindanao State University Wellness Program, where we believe that true success is measured not only by academic achievements but also by the holistic well-being of our students and staff. Our program is dedicated to promoting overall health and creating a supportive community where everyone can thrive.</p>
        <p>At the heart of our program is the belief that wellness is a journey, not a destination. We are committed to providing resources, guidance, and support to empower individuals to make positive lifestyle choices that enhance their overall well-being.</p>
        <p>We are proud to have a team of passionate wellness professionals who are dedicated to creating a nurturing and inclusive environment for all. Our goal is to foster a culture of self-care, resilience, and empathy, where everyone feels valued and supported.</p>
        <p>Join us in embracing a wellness-centered lifestyle and become part of a community that prioritizes self-care and compassion. Together, let's embark on a journey to holistic well-being and empower each other to live our best lives.</p>
        <p>Thank you for being a part of the Western Mindanao State University Wellness Program.</p>
    </section>
</body>
</html>

