<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p>Department: {{ user.college_department }}</p>
    <p>Email: {{ user.user.email }}</p>
    <p>Birthday: {{ user.birthday }}</p>
    <p>Gender: {{ user.gender }}</p>
    <p>Height: {{ user.height }}</p>
    <p>Weight: {{ user.weight }}</p>
    <p>Body Type: {{ user.body_type }}</p>
    <p>Activity Level: {{ user.activity_level }}</p>
    <p>Equipment Access: {{ user.equipment_access }}</p>
    <p>Health Conditions: {{ user.health_condition }}</p>
    <p>Allergies: {{ user.allergies }}</p>
    <p>Injuries: {{ user.injuries }}</p>
</body>
</html>
